<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VectorsCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VectorsCalculator.Properties.Settings>
            <setting name="Planet1X" serializeAs="String">
                <value>-102</value>
            </setting>
            <setting name="Planet1Y" serializeAs="String">
                <value>242</value>
            </setting>
            <setting name="Planet1Z" serializeAs="String">
                <value>302</value>
            </setting>
            <setting name="Moon1X" serializeAs="String">
                <value>-152</value>
            </setting>
            <setting name="Moon1Y" serializeAs="String">
                <value>152</value>
            </setting>
            <setting name="Moon1Z" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="Planet2X" serializeAs="String">
                <value>-549</value>
            </setting>
            <setting name="Planet2Y" serializeAs="String">
                <value>-500</value>
            </setting>
            <setting name="Planet2Z" serializeAs="String">
                <value>-300</value>
            </setting>
            <setting name="Moon2X" serializeAs="String">
                <value>-649</value>
            </setting>
            <setting name="Moon2Y" serializeAs="String">
                <value>-500</value>
            </setting>
            <setting name="Moon2Z" serializeAs="String">
                <value>-470</value>
            </setting>
            <setting name="Planet3X" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Planet3Y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Planet3Z" serializeAs="String">
                <value>-890</value>
            </setting>
            <setting name="Moon3X" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Moon3Y" serializeAs="String">
                <value>-110</value>
            </setting>
            <setting name="Moon3Z" serializeAs="String">
                <value>-790</value>
            </setting>
        </VectorsCalculator.Properties.Settings>
    </userSettings>
</configuration>